src/main/app/munit-database-server-practice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:context="http://www.springframework.org/schema/context"
    xmlns="http://www.mulesoft.org/schema/mule/core" 
    xmlns:db="http://www.mulesoft.org/schema/mule/db"    
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:spring="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <context:property-placeholder location="${env:local}-app.properties"/>

    <!-- Set Up a default Java Data Base Connection -->
    <spring:beans>
        <spring:bean id="jdbcDataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
            <spring:property name="driverClass" value="${db.driver}" />
            <spring:property name="url" value="${db.url}" />
            <spring:property name="username" value="${db.user}" />
            <spring:property name="password" value="${db.password}" />
        </spring:bean>
    </spring:beans>

    <!-- Configure your DB connector referencing your JDBC specs -->
    <db:generic-config name="Generic_Database_Configuration" doc:name="Generic Database Configuration" dataSource-ref="jdbcDataSource" />

    <flow name="update-salary-flow">
        <vm:inbound-endpoint exchange-pattern="one-way" path="update-salary" doc:name="VM">
        </vm:inbound-endpoint>
        <enricher target="variable:updatedRecords" doc:name="Message Enricher">
            <db:update config-ref="Generic_Database_Configuration" doc:name="update currect salary record">
                <db:parameterized-query><![CDATA[UPDATE salary_history SET to_date=#[json:change_date] WHERE emp_no=#[json:emp_no] and to_date='9999-01-01']]></db:parameterized-query>
            </db:update>
        </enricher>
        <enricher target="variable:newRecords" doc:name="Message Enricher">
            <db:insert config-ref="Generic_Database_Configuration" doc:name="insert new salary record">
                <db:parameterized-query><![CDATA[INSERT INTO salary_history(emp_no,salary,from_date,to_date) values(#[json:emp_no],#[json:new_salary], #[json:change_date], '9999-01-01')]]></db:parameterized-query>
            </db:insert>
        </enricher>
    </flow>
</mule>
